
@import '../base/base.css';

/* *************** */
body {
  text-align: center;
}

form {
  font-size: 1em;
}

main {
  /* display: grid; */
  /* justify-content: center; */
  text-align: center;
}

footer {
  padding: 1em;
}
/* *************** */


/* *************** */
/* ERROR MESSAGES: */
/* *************** */
#login div.error {
  font-family: serif;
  color: #cb000e;
}

#network_error {
  background: #cb000e;
  color: #fff;
  font-weight: bold;
}

#server_error {
  background: #fff;
  color: #cb000e;
  font-weight: bold;
}

#network-error, #server-error {
  color: white;
  text-align: center;
  padding: 1em;
  margin: 0.5em;
  font-weight: bold;
  display: none;
}
/* *************** */

