
@import '../base/base.css';

form {
  font-size: 2em;
}

a {
  color: orange;
}

h1 {
  text-align: center;
}

footer {
  text-align: center;
  padding: 1em;
}

main {
  /* display: grid; */
  /* justify-content: center; */
  text-align: center;
}

#login div.error {
  font-family: serif;
  color: #cb000e;
}

#otp_enter,
#locked_out,
#user_is_in {
  display: none;
}

#login { display: none; }

body.stranger #login { display: block; }
body.otp_enter #otp_enter,
body.locked_out #locked_out,
body.user_is_in #user_is_in { display: block; }

#otp_enter div.try_again {
  display: none;
}
body.otp_incorrect #otp_enter div.try_again {
  display: block;
}

input[type='text'],
input[type='email'],
input[type='number'],
input[type='password'] {
  text-align: center;
  font-family: serif;
}

input[type='number'] {
  letter-spacing: 0.5em;
}

#otp_enter {
  padding: 2em 0;
}
#otp_enter div.try_again {
  font-family: serif;
  color: #cb000e;
}
#otp_enter label {
  display: block;
  padding: 0.5em;
  font-family: sans-serif;
  font-size: 2em;
}
#otp_enter input[type='text'] {
  font-size: 3em;
  font-family: monospace;
  text-align: center;
  letter-spacing: 0.5em;
}

#locked_out {
  padding: 0.5em;
  font-size: 2em;
  font-family: serif;
  color: orange;
  background-color: black;
  margin: 1em;
}

#user_is_in {
  padding: 0.5em;
  font-size: 2em;
  font-family: serif;
  color: white;
  background-color: black;
  margin: 1em;
}

#user_is_in span.email {
  color: orange;
}
